@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
    font-family: 'Montserrat';
    background: rgb(32, 32, 32);
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 234, 115); 
    border-radius: 10px;
}

/*NAV BAR*/
nav{
    position: relative;
    width: 100%;
    height: 50px;
    background: rgb(53, 53, 53);
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
}

nav a{
    font-size: 15px;
    text-transform: uppercase;
    color:white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
nav .animation{
    position: absolute;
    height: 100%;
    bottom: 0;
    z-index: 0;
    background: rgb(31, 31, 31);
    border-bottom: solid 5px rgb(255, 234, 115);
    transition: all .5s ease 0s;
}

a:nth-child(1){
    width: 200px;
}
nav .start-home, a:nth-child(1):hover~.animation{
    width: 200px;
    left: 0;
}

a:nth-child(2){
    width: 200px;
}
nav .start-history, a:nth-child(2):hover~.animation{
    width: 200px;
    left: 200px;
}

a:nth-child(3){
    width: 200px;
}
nav .start-settings, a:nth-child(3):hover~.animation{
    width: 200px;
    left: 400px;
}

.cv {
    bottom: -5px;
    background: rgb(255, 234, 115);
    color: black;
    right: 10px;
    position: relative;
    float: right;
    height: 80%;
    width: 200px;
    border-radius: 50px;
    vertical-align: middle;
    border: solid 2px black;
    transition: 0.2s ease-in;
}

.cv:hover{
    background: rgb(53, 53, 53);
    border-color: rgb(255, 234, 115);
    color: white;   
}

.cv:active {
    background: black;
    border-color: rgb(255, 234, 115);
    color: white;
}

/*SLIDESHOW*/
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

html, body {
width: 100%;
height: 100%;
-webkit-font-smoothing: antialiased;
font-size: .88rem;
color: white;
}

.content-width {
width: 90%;
margin: 0 auto;
}

.slideshow {
position: relative;
width: 100%;
height: 90%;
display: flex;
flex-direction: column;
justify-content: space-around;
}

.slideshow-items {
position: relative;
width: 100%;
height: 300px;
}

.item {
position: absolute;
width: 100%;
height: auto;
}

.item-image-container {
position: relative;
width: 42%;
height: 100%;
}

.item-image-container::before {
content: '';
position: absolute;
top: 0px;
left: 0;
width: 101%;
opacity: 0;
z-index: 1;
}

.item-image {
position: relative;
width: auto;
height: 700px;
left: 15%;
opacity: 0;
display: block;
border: solid 2px rgb(255, 234, 115);
/* transition: property name | duration | timing-function | delay  */
transition: opacity .3s ease-out .45s;
}

.item.active .item-image {
opacity: 1;
}

.item.active .item-image-container::before {
opacity: .8;
}

.item-description {
position: absolute;
top: 182px;
right: 0;
width: 50%;
padding-right: 4%;
line-height: 1.8;
}

/* Staggered Vertical Items ------------------------------------------------------*/
.item-header {
position: absolute;
top: 400px;
left: -1.8%;
z-index: 100;
}

.item-header .vertical-part {
margin: 0;
font-family: 'Montserrat', sans-serif;
-webkit-font-smoothing: auto;
font-size: 7vw;
color: #fff;
}

.vertical-part {
overflow: hidden;
display: inline-block;
text-align: justify;
}

.vertical-title {
text-shadow: 0 0 2  0px black;
}

.vertical-part b {
display: inline-block;
transform: translateY(100%);
}

.item-header .vertical-part b {
transition: .5s;
}

.item-description .vertical-part b {
transition: .21s;
}

.item.active .item-header .vertical-part b {
transform: translateY(0);
}

.item.active .item-description .vertical-part b {
transform: translateY(0);
}

/* Controls ----------------------------------------------------------------------*/
.controls {
position: relative;
text-align: right;
z-index: 1000;
top: 150px;
}

.controls ul {
list-style: none;
}

.controls ul li {
display: inline-block;
width: 10px;
height: 10px;
margin: 3px;
background:#cfcfcf;;
cursor: pointer;
}

.controls ul li.active {
background:#797979;;
}